<div class="container">
  <h1>Welcome to Your Dashboard</h1>

</div>

  <br/>
  <br/>

      <h4>Total Amount : {{this.amountDonated}}</h4>

<br/>
<br/>


<table class="table">
    <thead>
        <tr>
            <th scope="col"><h3>Charity Name</h3></th>
            <th scope="col"><h3>Date Of Donation</h3></th>
            <th scope="col"><h3>Amount Donated</h3></th>
        </tr>
    </thead>
    <tbody>
        {{#each charities}}
        <tr>
            {{!-- <th scope="row">{{this._id}}</th>  --}}
            <td>{{this.name}}</td>
            <td>{{this.date}}</td>
            <td style="color: green">${{this.amountDonated}}</td>
        </tr>
      {{/each}}
    </tbody>
</table>
