<div class="container">
  <h1>Welcome to Your Dashboard</h1>

</div>

<br/>
<br/>


<table class="table">
    <thead>
        <tr>
            <th scope="col"><h3>Charity Name</h3></th>
            <th scope="col"><h3>Date Of Donation</h3></th>
            <th scope="col"><h3>Amount Donated</h3></th>
        </tr>
    </thead>
    <tbody>
        {{#each charities}}
        <tr>
            {{!-- <th scope="row">{{this._id}}</th>  --}}
            <td><a href="/charities/{{this._id}}"><h4>{{this.name}}</h4></a></td>
            <td><h4>{{this.date}}<h4></td>
            <td style="color: green"><h4>${{this.amountDonated}}<h4></td>
        </tr>
      {{/each}}
    </tbody>
</table>
