<div class="pull-left">
  <h1>Welcome to Your Dashboard</h1>

</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="text-center">
<h3>Your Donations<h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><h4>Donor Name</h4></th>
            <th scope="col"><h4>Date Of Donation</h4></th>
            <th scope="col"><h4>Amount Donated</h4></th>
        </tr>
    </thead>
    <tbody>
        {{#each donations}}
        <tr>
            {{!-- <th scope="row">{{this._id}}</th>  --}}
            <td><a href="/donations/{{this._id}}"><h4>{{this.donorName}}</h4></a></td>
            <td><h4>{{this.date}}<h4></td>
            <td style="color: green"><h4>${{this.amount}}<h4></td>
        </tr>
      {{/each}}
    </tbody>
</table>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="text-center">
<h2>Your Charities<h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col"><h4>Name</h4></th>
            <th scope="col"><h4>Cause</h4></th>
            <th scope="col"><h4>description</h4></th>
        </tr>
    </thead>
    <tbody>
        {{#each donations}}
        <tr>
            {{!-- <th scope="row">{{this._id}}</th>  --}}
            <td><a href="/donations/{{this._id}}"><h4>{{this.donorName}}</h4></a></td>
            <td><h4>{{this.date}}<h4></td>
            <td style="color: green"><h4>${{this.amount}}<h4></td>
        </tr>
      {{/each}}
    </tbody>
</table>
