<div class="text-right">
  <a href="/charities/new" class="btn btn-primary">Add Charity</a>
</div>
</br>




<div class="text-center">
  <h1>Trending Humanitarian News</h1>
</div>

</br>
</br>


  {{#each news}}
    <div class="movie-poster">
      <a href="{{this.url}}" class="thumbnail">
        <img src="{{this.urlToImage}}">
      </a>
      <div class="caption">
        <span class="title"><h3>{{this.title}}</h3>
        <span class="author"><h4>Written by : {{this.author}}</h4>
        <span class="description"><h4>{{this.description}}</h4>
        <div class="pull-right">
          <a href="/donations/new" class="btn btn-primary">Donate</a>
        </div>
      </div>
    </div>
  </br>
  </br>
  </br>
  </br>
  </br>
  {{/each}}
